.containerKnow {
  position: relative;
  height: 300px;
  width: 300px;

  &__letters {
    display: flex;
  font-size: 12px;

  }

  &__priorotary{
    margin-right: 3rem;
    margin-left: 1.4rem;
  }

  &__relative {
    margin-top: 1rem;
  }
}

.c {
  height: 300px;
  width: 300px;
  cursor: pointer;
  will-change: transform, opacity;
}

.frontKnow,
.backKnow {
  background-size: cover;
  border-radius: 20px;
  border: 1px solid hsla(180, 100%, 50%, 0.479);
  box-shadow: 10px 10px 4px 0px aqua;
  // border: 1px solid hsla(0, 0%, 34%, 0.178);
  // box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.75);
}

.backKnow {
  position: absolute;
  max-height: 300px;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frontknow {
  position: absolute;
  width: 300px;
  height: 300px;

}
