html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  background: #f0f0f0;
  
}

#root > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container {
  position: absolute;
  right: 800px;
    
}

.c {
  // max-width: 400px;
  // max-height: 400px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  will-change: transform, opacity;
}

.frontForm,
.backForm {
  position: absolute;
  background-size: cover;
  background-color: #d17c7c;

}

.backForm {
    position: absolute;

}

.frontForm {
  position: absolute;

}
