.container {
  position: relative;
  height: 300px;
  width: 300px;
}

.c {
  height: 300px;
  width: 300px;
  cursor: pointer;
  will-change: transform, opacity;
}

.frontLinks,
.backLinks {
  background-size: cover;
  border-radius: 20px;
  border: 1px solid hsla(180, 100%, 50%, 0.479);
  box-shadow: 10px 10px 4px 0px aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backLinks {
  position: absolute;
  max-height: 300px;
  max-width: 300px;
 
}

.frontLinks {
  position: absolute;
  max-height: 300px;
  max-width: 300px;
}

a {
  color: hsl(300, 93%, 55%);
  
}

@media screen and (min-width:601px) and (max-width: 800px) {
  .frontLinks,
  .backLinks {
    margin-top: 0.4rem;
    margin-left: 7rem;
    
  }

  .c {
    max-height: 260px;
    max-width: 260px;
  }

  a {
    font-size: 1rem;
  }

  p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 600px) {

  .frontLinks,
  .backLinks {
    margin-top: 1rem;
  }

  .c {
    max-height: 260px;
    max-width: 260px;
  }

  a {
    font-size: 1rem;
  }

  p {
    font-size: 0.6rem;
  }

}
