.background {
  
  // opacity: 0.5;
}

@font-face {
  font-family: 'Sansita Swashed';
  font-style: normal;
  font-weight: 400px;
  src: url('./fonts/SansitaSwashed-Regular.ttf');
  src: local('Sansita Swashed Regular'), local('SansitaSwashed-Regular');
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
  
  &__content {
    border: 1px solid hsla(0, 0%, 34%, 0.178);
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.75);
  }

  &__cards {
    padding-top: 1rem;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
